/DatabaseUpdate.sql
/Proxool.properties
/SqlMapConfig.xml
/applicationContext.xml
/com
/config.properties
/ibatis
/log4jManager.xml
/messageResource_en_US.properties
/messageResource_zh_CN.properties
/pagination.tld
/struts
/struts.xml
